@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary-color: #ee28eb; */
  --primary-color: rgb(11, 202, 11);
  --secondary-color: #292647;
  /* --accent-low-op: #30f71190; */
  /* --acc-navy: #0b2ef4; */
}

.S_Underline {
  @apply after:absolute after:-bottom-[1px] after:left-0 after:h-[2px] after:w-0 after:bg-slate-800 after:transition-all after:duration-500 after:content-[''];
}

*::selection {
  background-color: var(--primary-color);
  color: aliceblue;
}
*::selection {
  background-color: var(--primary-color);
  color: aliceblue;
}

.bdr {
  border: 2px solid red;
}
.bdr2 {
  border: 2px solid green;
}
.bdr3 {
  border: 2px solid blue;
}
.bdr4 {
  border: 2px solid yellow;
}

.no_scroll::-webkit-scrollbar {
  display: none;
}

.no_scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
